<nav>
    <div class="site-title">
        <a href="/">
            <h1>Tenants's remarks</h1>
        </a>
        <p>3333 Wolf Street NY</p>
    </div>

    <ul>
        <li><a href="/">Remarks</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/remarks/create">New Remark</a></li>
    </ul>
</nav>