<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/nav.ejs')%>

    <div class="about content">
        <h2>About Us</h2>
        <p>We are 6 tenants in one hose, we are from different countries</p>
        <p>every one must respect others</p>
        <p>Here you can put your remarks anounymously</p>
        </div>
      <%- include('./partials/footer.ejs')%>
</body>
</html>